<h1 class="header"><%=@entry.content%></h1>
<form class="entry_edit_form" action="/entries/<%= @entry.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT"/>
  <textarea class="entry_edit_textarea" name="entry[content]" value="Fill in your post"></textarea>
  <br><input type="submit" value="Update this entry">
</form>


<form method="post" action="/entries/<%=@entry.id%>">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete this entry" />
</form>


<br><br><a href="/entries">Back to all entries</a>
